<h1>{{message}}</h1>
<ol>
    {{#each todos}}
        <li>{{this}}</li>
    {{/each}}
</ol>

<form action="/", method="POST">
    <input type="text" name="todoadder" id="firstSubmit" placeholder="enter new ToDo">
    <button type="submit">Submit</button>
</form>