html 
  head 
    title= title 
  body
    h1= message

    ol
      each todo in todos
        li= todo

    form(action= "/", method= "POST")
      input(type= "text" name="todoadder" placeholder= "enter new ToDo")
      button(type="submit") Submit